In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('scores.csv', sep=' ')

In [3]:
print(df)

       CardNo Name  Gender DateOfBirth   CityTown  Mathematics  Physics  \
0   Bhuvanesh    M       7         Nov      Erode           68       64
1      Harish    M       3         Jun      Salem           62       45
2    Shashank    M       4         Jan    Chennai           57       54
3        Rida    F       5         May    Chennai           42       53
4      Ritika    F      17         Nov    Madurai           87       64
5     Akshaya    F       8         Feb    Chennai           71       92
6      Sameer    M      23         Mar      Ambur           81       82
7      Aditya    M      15         Mar    Vellore           84       92
8       Surya    M      28         Feb  Bengaluru           74       64
9    Clarence    M       6         Dec  Bengaluru           63       88
10      Kavya    F      12         Jan    Chennai           64       72
11      Rahul    M      30         Apr  Bengaluru           97       92
12   Srinidhi    F      14         Jan    Chennai           52       64
13       Gopi    M       6         May    Madurai           65       73
14     Sophia    F      23        July     Trichy           89       62
15    Goutami    F      22         Sep      Theni           76       58
16    Tauseef    M      30         Dec     Trichy           87       86
17     Arshad    M      14         Dec    Chennai           62       81
18    Abirami    F       9         Oct      Erode           72       92
19   Vetrivel    M      30         Aug     Trichy           56       78
20     Kalyan    M      17         Sep    Vellore           93       68
21     Monika    F      15         Mar  Bengaluru           78       69
22      Priya    F      17         Jul  Nagercoil           62       62
23    Deepika    F      13         May  Bengaluru           97       91
24  Siddharth    M      26         Dec    Madurai           44       72
25      Geeta    F      16         May    Chennai           87       75
26         JK    M      22         Jul    Chennai           74       71
27      Jagan    M       4         Mar    Madurai           81       76
28      Nisha    F      10         Sep    Madurai           74       83
29     Naveen    M      13         Oct    Vellore           72       66

    Chemistry  Total
0          78    210
1          91    198
2          77    188
3          78    173
4          89    240
5          84    247
6          87    250
7          76    252
8          51    189
9          73    224
10         68    204
11         92    281
12         71    187
13         89    227
14         93    244
15         90    224
16         43    216
17         67    210
18         97    261
19         62    196
20         91    252
21         74    221
22         57    181
23         88    276
24         58    174
25         92    254
26         82    227
27         52    209
28         83    240
29         81    219